<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}"><img src="/images/logo.png"></a>

    {% assign pages=site.pages | where:"lang", page.lang %}
    {% for my_page in pages %}
      {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}

    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %}
    <a href="{{ post.url }}" class="{{ post.lang }}">
      {% if post.lang == "zh" %}
      <img src="/images/flag_china.png" alt="China Flag" />
      {% else %}
      <img src="/images/flag_usa.png" alt="USA Flag" />
      {% endif %}
      <span class="lang-trigger">{{ post.lang }}</span>
    </a>
    {% endfor %}

    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
      <a href="{{ page.url }}" class="{{ page.lang }}">
        {% if page.lang == "zh"%}
        <img src="/images/flag_china.png" alt="China Flag" />
        {% else %}
        <img src="/images/flag_usa.png" alt="USA Flag" />
        {% endif %}
        <span class="lang-trigger">{{ page.lang }}</span>
      </a>
    {% endfor %}

    <a class="search-tigger" href="#">
      <img src="/images/icon-search.png" alt="Search Icon" />
    </a>

  </div>

</header>

{% include search.html %}
